<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">

    </head>
    <body>
        <header class = "site-header">
            <div class="logo"> 
                <span class="logo-text">高専Web</span>
            </div>
            <div class=" user-menu">
              <img src="/images/icon_mail.png" alt="お知らせ" class="header-icon">
              <img src="/images/icon_user.png" alt="ユーザー" class="header-icon">
            </div>
        </header>

        <main class="menu-container">
            <a href="/year" class="menu-card">
                <img src="/images/icon_year.png" alt="年間予定表" class="card-icon">
                <div class="card-content">年間予定表</div>
            </a>
        
            <a href="/week" class="menu-card">
               <img src="/images/icon_week.png" alt="授業時間割" class="card-icon">
               <div class="card-content">授業時間割</div>
            </a>

            <a href="/test_schedule" class="menu-card">
                <img src="/images/icon_test.png" alt="テスト日程表" class="card-icon">
                <div class="card-content">テスト日程表</div>
            </a>
        
            <a href="/library" class="menu-card">
                <img src="/images/icon_library.png" alt="図書館OPAC" class="card-icon">
                <div class="card-content">図書館OPAC</div>
            </a>
        
            <a href="/admin" class="menu-card">
                <img src="/images/icon_admin.png" alt="管理者ページ" class="card-icon">
                <div class="card-content">管理者ページ</div>
            </a>
        </main>
    </body>
</html>