<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
        <link rel="stylesheet" href="./home.css">
=======
        <link rel="stylesheet" href="/css/home.css">
>>>>>>> master

    </head>
    <body>
        <h1>群馬高専生活特化アプリ</h1>
        <div class="feature">
            <a href="/year">年間予定表を見る</a>
        </div>
        <div class="feature">
            <a href="/week">授業時間割を見る</a>
        </div>
        <div class="feature">
            <a href="/test_schedule">テスト日程表を見る</a>
        </div>
        <div class="feature">
            <a href="/library">群馬高専図書館opacを開く</a>
        </div>
    </body>
</html>