<!DOCTYPE html>
<html>
    <head>
        <title><%= title %>｜高専生活特化アプリ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/week.css">
    </head>
    <body>
        <h1>授業時間割</h1>
        <h2 id="month"></h2>
        <p>
            <button id="prevweek">前週</button>
            <button id="nextweek">次週</button>
        </p>

        <table border="1" cellpadding="5" cellspacing="0" width="100%">
            <thead id="weekScheduleHead">
                <th><span class="day-num" id="d0"></span>(日)</th>
                <th><span class="day-num" id="d1"></span>(月)</th>
                <th><span class="day-num" id="d2"></span>(火)</th>
                <th><span class="day-num" id="d3"></span>(水)</th>
                <th><span class="day-num" id="d4"></span>(木)</th>
                <th><span class="day-num" id="d5"></span>(金)</th>
                <th><span class="day-num" id="d6"></span>(土)</th>
            </thead>
            <tbody id="weekScheduleBody"></tbody>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
        <script src="/js/week.js"></script>
        <a href="../">戻る</a>
    </body>
</html>