<!DOCTYPE html>
<html lang="ja">
<html>
    <head>
        <title><%= title %>｜高専生活特化アプリ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./year.css">
    </head>
    <body>
        <h1>年間予定表</h1>

        <div id="calendar-app">
          <div id="calendar-main">
              <h2><span id="current-year"></span>年度 授業・行事計画</h2>
              <div id="calendar-container"></div>
          </div>
        </div>
        <script src="./year_events.js"></script>
        <a href="../">戻る</a>
    </body>
</html>